.bootstrap-datetimepicker-widget{
    width: 220px !important;
}

@media (max-width: 415px){
    .footer-nic-logo{
        margin-top: -26px !important;
    }
    .footer-nic-logo-image{
        height: 31px !important;
    }
}

.color-black {
    color: #212529;
}

.bg-nic-blue {
    background-color: #0E4D92 !important;
    color: white;
}

.bg-nic-gray {
    background-color: #808080;
    color: white;
}

.bg-nic-red {
    background-color: red;
    color: white;
}

.bg-nic-orange {
    background-color: #ff7701;
    color: white;
}

.color-nic-blue {
    color: #0E4D92;
}

.error-message{
    color: red;
}

.f-w-b{
    font-weight: bold;
}

.btn-nic-blue {
    background-color: #0E4D92;
    color: white !important;
}

.btn-nic-blue:hover,
.btn-nic-blue:active,
.btn-nic-blue.hover {
    background-color: #367fa9;
    color: white;
}

.login-box-msg,
.register-box-msg {
    padding: 0 20px 0px;
}

.swal2-close {
    padding: 1px !important;
}

.swal2-popup.swal2-toast.swal2-show {
    -webkit-animation: swal2-toast-show .5s;
    animation: swal2-toast-show .5s;
    padding: 10px 15px 10px 15px;
}

.brand-link {
    padding: .5rem;
    line-height: 2;
}

.brand-link .brand-image {
    margin-left: 3px;
    max-height: 42px;
}

.p-t-15{
    padding-top: 15px !important;
}

.p-tb-10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.callout {
    margin-bottom: 0px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.callout.callout-warning {
    background-color: #d39e00 !important;
    color: white;
}

.callout.callout-success {
    background-color: #218838 !important;
    color: white;
}

.f-w-b{
    font-weight: bold;
}

.f-w-n{
    font-weight: normal !important;
}

.b-none{
    border: none !important;
}

.m-b-1rem{
    margin-bottom: 1rem !important;
}

.v-a-m{
    vertical-align: middle !important;
}

hr{
    margin-top: 3px;
    margin-bottom: 3px;
}

.table-padding td, .table-padding th {
    padding: 4px !important;
}

.f-s-14px{
    font-size: 14px;
}

.gujarati-name{
    font-size: 12px !important;
    line-height: 15px !important;
}

.table td, .table th {
    vertical-align: middle !important;
}

.pull-right{
    float: right;
}

.spinner-border-small {
    width: 1rem !important;
    height: 1rem !important;
}

.bg-white{
    background-color: white !important
}

.bg-active{
    background-color: #f5f6f7 !important;
}

.f-s-16px{
    font-size: 16px !important;
}

@media only screen and (max-width: 768px) {
    .mt-33px {
        margin-top: 0px !important;
    }
}

@media (min-width: 650px){
    .modal-lg, .modal-xl {
        max-width: 80%;
    }
}

.bg-light-gray{
    background-color: rgba(0,0,0,.05) !important;
}

.modal-header{
    padding-top: 8px;
    padding-bottom: 8px;
}

body{
    font-size: 15px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 15px;
}

.table td, .table th {
    padding: 3px;
}
.sorting_asc:before, .sorting_desc:after {
    margin-block-end: -7px;
}
.sorting_asc:after,.sorting_desc:before{
    margin-block-end: -7px;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
    margin-block-end: -7px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    margin-block-end: -7px;
}

.card-header, .card-body  {
    padding: 10px;
}
label {
    margin-bottom: 3px;
}

.form-control {
    font-size: 14px;
}

.form-group{
    margin-bottom: 10px;
}

.content-header {
    padding: 10px;
}

.content-header .breadcrumb {
    line-height: 2rem;
}

.m-b-0, .m-b-0px{
    margin-bottom: 0px !important;
}

.card-title {
    font-size: 20px; 
    font-weight: bold;
}

.mb-12{
    margin-bottom: 12px;
}
.l-h-1-1{
    line-height: 1.1 !important;
}

.mb3px{
    margin-bottom: 3px !important;
}

.app-status{
    padding: 5px !important;
    font-size: 13px !important;
    white-space: normal !important;
}

.swal2-confirm{
    margin-right: 5px;
}

#entry_epass_reports_datatable_filter, #entry_epass_reports_datatable_paginate,
#exit_epass_reports_datatable_filter, #exit_epass_reports_datatable_paginate{
    margin-top: -30px !important;
}

.m-r-10px{
    margin-right: 10px;
}

.m-b-5px{
    margin-bottom: 5px !important;
}

.f-s-20px{
    font-size: 20px !important;
}

.color-nic-gray{
    color: #808080 !important;
}
.color-nic-white{
    color: white !important;
}
.color-nic-orange{
    color: #ff7701 !important;
}

.content-wrapper>.content {
    padding: .5rem;
}

.layout-footer-fixed .wrapper .main-footer {
    bottom: -10px;
}
@media (max-width: 415px){
    .layout-footer-fixed .wrapper .main-footer {
        padding-top: 10px;
    }
}
div.dt-buttons {
    width: 60px !important;
}

@media screen and (max-width: 767px){
    div.dataTables_filter {
        text-align: right !important;
    }
    div.dataTables_info{
        text-align: left !important;
    }
}

.p-b-0px{
    padding-bottom: 0px !important;
}
.table-bold-data{
    font-weight: bold;
    font-size: 20px;
}

.m-r-35px {
    margin-right: 35px;
}

.color-nic-black{
    color: black !important;
}

.color-nic-red{
    color: red !important;
}

.bg-beige{
    background-color: beige;
}

.p-5px{
    padding: 5px !important;
}

.box-new{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #e9ecef;
    opacity: 1;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.textarea-new{
    min-height: 50px;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    padding-left: 6px;

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    overflow: auto;
    resize: vertical;

    font-size: 14px;

}

.table-vat td{
    vertical-align: top !important;
}

.f-s-app-details{
    font-size: 13px;
}

.f-s-10px{
    font-size: 10px;
}

.table-lh1{
    line-height: 1 !important;
}